{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "singleAttributePerLine": false,
  "singleQuote": false,
  "bracketSameLine": false
}
